extend layout
block content
        .container
            .row
                .col-xs-1.col-md-3
                .col-xs-10.col-md-6
                    h2(style="text-align: center;")
                        | Thanks for signing up your family members, they should receive an email with further details shortly.
                    h2 Confused? 
                    p If you need help sending photos to Gift Your Stories please check out the 
                      a(href="/tutorials", class="tutorial") tutorial


    script
      mixpanel.track('.tutorial', 'tutorial_clicked')
