extend layout
block content
    .jumbotron
      .container
        .headline
          h1 Share your family photos with the grandparents.
          p
            | For a £30 monthly subscription we send beautiful printed albums to your loved ones.
          p
            a.btn.btn-primary.btn-lg(role='button', href="/signup") Start Sharing »
    .walkthrough
      .container
        .row
          .col-md-4
            h2 1. Easily send photos to Gift Your Stories
            img(src='/images/camera.png') 
          .col-md-4
            h2 2. Get your family members to do the same
            img(src='/images/attachment.png')
          .col-md-4
            h2 3. Send a photo album monthly
            img(src='/images/album.png')
        .row
          .col-md-4
          .col-md-4
            a.btn.btn-primary.btn-lg(role='button', href="#more") Find Out More
    .container.moreInfo
      .row
        a#more
        .col-md-4
          img(src='/images/photo.png') 
          h2 Anytime, Anywhere
          p
            | Take photos or select them from any of your devices; smartphone, tablet or camera. Instantly upload them to Gift Your Stories and they will be available for your family.
        .col-md-4
          img(src='/images/familyipad.png')
          h2 The whole family
          p
            | Anyone in your family can share photos and messages. They simply upload their photos at the touch of a button to Gift Your Stories and all the stories will be sent to your loved ones.
        .col-md-4
          img(src='/images/granny.png')
          h2 Beautiful Albums
          p
            | Using the photos shared we will automatically create beautiful photo albums. These will be available online for you to share or, for just £30, we can print and deliver a bound copy directly to your grandparents for them to enjoy. 
      .row
        .col-md-4
        .col-md-4
          a.btn.btn-primary.btn-lg(role='button', href="/signup") Start Sharing  
