extend layout
block content
        .container
            .row
                .col-xs-1.col-md-3
                .col-xs-10.col-md-6
                    .signupForm
                        .signupHeader    
                            h1
                                | Sign up
                        .signupBody
                            h2.step1
                                | Who is the photo album for?
                            form.form-horizontal.step1(role='form', method="POST", action="/step2", id="firstForm")
                                .form-group
                                    .col-xs-2.col-md-3
                                    .col-xs-8.col-md-6
                                        input#theirName.form-control(type='text', placeholder="Grandparent\'s name", name="theirName")
                                .form-group
                                    .col-sm-1
                                    .col-sm-10
                                        input.btn.btn-default(type='submit', value='Next', id="signupNext")



        script(src="/javascripts/signup.js")
