extend layout
block content
        .container
            h2
              | So we'll send your album to #{theirName}
            h2
              | You are #{yourName} (#{yourEmail})
            h3
              | email #{customEmail}
    script(src="/javascripts/signup.js")
