extend layout
block content
        .container
            .row
                .col-xs-1.col-md-3
                .col-xs-10.col-md-6
                    .signupForm
                        .signupHeader    
                            h1
                                | Sign up
                        .signupBody
                            h2.step3
                                | Thanks, #{yourName}! Would you like to get other family members to contribute photos to this album?
                            p.step3
                                | (Don't worry you can change/add people later, leave it blank if you can't find the emails now)

                            form.form-horizontal.step3(role='form', method="POST", action="/family")
                                input#customEmail.form-control(type="hidden", name="customEmail", value="#{customEmail}")
                                input(type="hidden", name="theirName", id="theirName", value="#{theirName}")
                                input(type="hidden", name="yourName", id="yourName", value="#{yourName}")
                                .form-group
                                    .col-xs-2.col-md-3
                                    .col-xs-8.col-md-6
                                        input#family1.form-control(type='email', placeholder='Email', name="family1")
                                .form-group
                                    .col-xs-2.col-md-3
                                    .col-xs-8.col-md-6
                                        input#family2.form-control(type='email', placeholder='Email', name="family2")
                                .form-group
                                    .col-xs-2.col-md-3
                                    .col-xs-8.col-md-6
                                        input#family3.form-control(type='email', placeholder='Email', name="family3")
                                .form-group
                                    .col-xs-2.col-md-3
                                    .col-xs-8.col-md-6
                                        input#family4.form-control(type='email', placeholder='Email', name="family4")
                                .form-group
                                    .col-sm-1
                                    .col-sm-10
                                        input.btn.btn-default(type='submit', value='Finish')



    script(src="/javascripts/signup.js")
