extend layout
block content
        .container
            h2
              | So we'll send your album to #{theirName}
            h2
              | You are #{yourName} (#{yourEmail})
            h3
              | email #{customEmail}

            h3
              | Add your family members email addresses below to let them contribute to your photo album
            form.form-horizontal(role='form', method="POST", action="family")
              .form-group
                label.col-sm-2.control-label(for='family1') First Email Address
                .col-sm-10
                  input#family1.form-control(type='email', placeholder='Email', name="family1")
              .form-group
                label.col-sm-2.control-label(for='family2') Second Email Address
                .col-sm-10
                  input#family2.form-control(type='email', placeholder='Email', name="family2")
              .form-group
                label.col-sm-2.control-label(for='family3') Third Email Address
                .col-sm-10
                  input#family3.form-control(type='email', placeholder='Email', name="family3")
              .form-group
                label.col-sm-2.control-label(for='family4') Four Email Address
                .col-sm-10
                  input#family4.form-control(type='email', placeholder='Email', name="family4")
              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-default(type='submit') Add

    script(src="/javascripts/signup.js")
