extend layout
block content
        .container
            .row
                .col-xs-1.col-md-3
                .col-xs-10.col-md-6
                    .signupForm
                        .signupHeader    
                            h1
                                | Sign up
                        .signupBody
                            h2.step2
                                | Great, lets create a photo album for #{theirName}
                            h2.step2
                                | Please tell us your name and email so we can set up the album
                            form.form-horizontal.step2(role='form', method="POST", action="/step3", id="secondForm")
                                input(type="hidden", name="theirName", id="theirName", value="#{theirName}")
                                .form-group
                                    .col-xs-2.col-md-3
                                    .col-xs-8.col-md-6
                                        input#yourName.form-control(type='text', placeholder='Name', name="yourName")
                                .form-group
                                    .col-xs-2.col-md-3
                                    .col-xs-8.col-md-6
                                        input#yourEmail.form-control(type="email", name="yourEmail", placeholder="Your email")
                                .form-group
                                    .col-sm-1
                                    .col-sm-10
                                        input.btn.btn-default(type='submit', value='Next', id="signup2Next")



        script(src="/javascripts/signup.js")