extend layout
block content
        .container
            h2
                | Who do you want us to send the photo album to?
            form.form-horizontal(role='form', method="POST", action="/step2")
              .form-group
                label.col-sm-2.control-label(for='theirName') Their name
                .col-sm-10
                  input#inputEmail3.form-control(type='text', placeholder='Name')
              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-default(type='submit') Next


    script(src="/javascripts/signup.js")
