extend layout
block content
        .container
            .row
                .col-xs-1.col-md-3
                .col-xs-10.col-md-6
                    .signupForm
                        .signupHeader    
                            h1
                                | Sign up
                        .signupBody
                            h2
                                | Who do you want us to send the photo album to?
                            form.form-horizontal(role='form', method="POST", action="/step2")
                              .form-group
                                label.col-sm-2.control-label(for='theirName') Their name
                                .col-sm-10
                                  input#theirName.form-control(type='text', placeholder='Name', name="theirName")
                              .form-group
                                .col-sm-10
                                  input.btn.btn-default(type='submit') Next


    script(src="/javascripts/signup.js")
