body {
  padding-top: 50px;
}
@font-face {
  font-family: entypo;
  src: url("/fonts/entypo/entypo.ttf");
}
.jumbotron {
  background-image: url("/images/headerimage6_x2.jpg");
  background-size: cover;
  background-position: top 50px;
  margin-bottom: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.headline {
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  text-align: center;
  padding: 10px;
}
.headline h1 {
  margin-bottom: 20px;
}
.walkthrough {
  background-color: #188d68;
  color: #fff;
  width: 100%;
}
.walkthrough h1,
.walkthrough h2 {
  text-align: center;
  font-size: 25px;
}
.walkthrough img {
  display: block;
  margin: auto;
  padding-top: 10px;
}
.walkthrough a {
  display: block;
  margin: auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 15px;
}
.walkthrough .col-md-4:nth-child(2) img {
  padding-top: 30px;
}
.moreInfo h1,
.moreInfo h2 {
  text-align: center;
}
.moreInfo img {
  padding-top: 30px;
  display: block;
  margin: auto;
}
.signupForm {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0px;
}
.signupHeader {
  background-color: #188d68;
  color: #fff;
}
.signupHeader h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  color: #fff;
}
.signupBody {
  background-color: #d3d3d3;
  text-align: center;
  padding: 20px;
}
.signupBody h2 {
  margin: 0px;
  padding-top: 20px;
  color: #fff;
}
.signupBody form {
  padding: 20px 0px 20px;
}
.signupBody input {
  border: none;
  height: 40px;
  padding: 10px;
  border-radius: 0px;
}
.signupBody input:focus {
  outline: none;
  box-shadow: none;
}
