body {
  padding-top: 60px;
}
.jumbotron {
  background-image: url("/images/headerimage6_x2.jpg");
  background-size: cover;
  height: 500px;
}
.headline {
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  text-align: center;
  margin-top: 75px;
  padding: 10px;
}
.signupForm {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0px;
}
.signupHeader {
  background-color: #800080;
}
.signupHeader h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  color: #fff;
}
.signupBody {
  background-color: #d3d3d3;
  text-align: center;
}
.signupBody h2 {
  margin: 0px;
  color: #fff;
}
.signupBody form {
  padding: 30px;
}
.signupBody label {
  display: block;
}
.signupBody input {
  border: none;
  height: 40px;
  padding: 10px;
}
