.jumbotron {
  background-image: url("/images/headerimage6_x2.jpg");
  background-size: cover;
  height: 500px;
}
.headline {
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  text-align: center;
  margin-top: 75px;
  padding: 10px;
}
